<h3>Home</h3>
<% @users.each do |user| %>
	<% if !user.currentGame.nil? then %>
		<% @currentGame = Game.find(user.currentGame).name %>
	<% else %>
		<% @currentGame = "IDLE - NIX" %>
	<% end %>

  <p>User: <%=link_to user.name, user %> CurrentGame: <%= @currentGame %> </p>
<% end %>
